<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Sign-up</title>
</head>
<body>
  <h1>User Sign-up</h1>
  <% if (message) { %>
    <h2 style="color: red; font-weight: bolder;"><%= message %></h2>
  <% } %>
  <form action="/sign-up" method="post">
    <label for="username">Username: <input type="text" name="username" id="username"></label><br>
    <label for="email">Email: <input type="text" name="email" id="email"></label><br>
    <label for="password">Password: <input type="text" name="password" id="password"></label><br>
    <button type="submit">Sign-up</button>
  </form>
</body>
</html>